#
# git settings to force
# consistent end of line (eol) behaviour
# currently not able to show hash of source code is a match
# believe this is caused by the crlf behaviour
#
# for changing the values, see: https://docs.github.com/en/github/using-git/configuring-git-to-handle-line-endings
# and: https://stackoverflow.com/questions/1967370/git-replacing-lf-with-crlf
#


# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.py text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary